<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new</h1>
    <!-- form 태그의 action => a 태그의 href와 동일한 기능 -->
    <form action="/posts/create/">
        <label for="title">title</label>
        <input type="text" id="title" name="title">
        <label for="content">content</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>

        <input type="submit">

    </form>
</body>
</html>